.Layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Layout__PageContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (max-width:768px) {
    
}
