.Register {
    font-family: 'Inter';
    height: 100vh;
    font-style: normal;
    line-height: normal;
}
.Register_FullHeight {
    height: 100%;
}
.Register__Wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.Register__Title {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
}
.Register__RegistrationBlock {
    width: 100%;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
}
.Register__ButtonsBlock {
    padding-bottom: 70px;
}
.Register__ButtonsBlockSignUpButton {
    cursor: pointer;
    border: 0;
    width: 100%;
    border-radius: 3px;
    background: #3456F3;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 0 15px 0;
    transition: 0.5s;
    margin-bottom: 16px;
}

.Register__ButtonsBlockSignUpButton:hover {
    opacity: 0.8;
}
.Register__BottomNavLinkBlock {
    display: flex;
    justify-content: center;
}
.Register__BottomNavLinkPrompt {
    color: #A0A0A0;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: 400;
}
.Register__BottomNavLink {
    color: #3456F3;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 400;
}
.Register__BottomNavLink:hover {
    opacity: 0.7;
}
.Register__Error {
    margin: 0;
    padding-top: 6px;
    color: #FF3055;
    font-size: 10px;
    font-weight: 400;
}

@media screen and (max-width:1279px) {
    .Register__Wrap {
        align-items: center;
    }
    .Register_Form {
        margin-bottom: 152px;
    }
}

@media screen and (max-width:767px) {
    .Register__Wrap {
        align-items: normal;
    }
    .Register__LogoBlock {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Register__Title {
        margin: 50px 0 80px 0;
        text-align: center;
    }
    .Register__RegistrationBlock {
        padding-top: 56px;
        max-width: 260px;
    }
    .Register__ButtonsBlock {
        padding-bottom: 30px;
    }
    .Register__ButtonsBlockSignUpButton {
        font-size: 12px;
        font-weight: 400;
        padding: 15px 0 15px 0;
    }
    .Register__BottomNavLinkPrompt {
        font-size: 12px;
    }
    .Register__BottomNavLink {
        font-size: 12px;
    }
}