.Techs {
    padding-top: 87px;
    font-family: 'Inter', 'Arial', sans-serif;
    background: #F5F5F5;
    margin-bottom: 114px;
    width: 100%;
}
.Techs_Content {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Techs_Title {
    margin-top: 0;
    margin-bottom: 26px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}
.Techs_Description {
    margin-top: 0;
    margin-bottom: 100px;
    max-width: 460px;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
}
.Techs_Stak {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.Techs_Stak_Tile {
    margin: 0 5px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    width: 90px;
    padding: 20px 0;
    border-radius: 10px;
    background: #E8E8E8;
}

@media screen and (max-width:1279px) {
    .Techs {
        padding-top: 91px;
        display: flex;
        justify-content: center;
        margin-bottom: 93px;
    }
    .Techs_Description{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 83px;
        letter-spacing: -0.48px;
    }
    .Techs_Title {
        margin-bottom: 22px;
    }
    .Techs_Content {
        padding-top: 80px;
        
    }
    .Techs_Stak {
        width: 100%;
        max-width: 651px;
        margin-bottom: 90px;
    }
    .Techs_Stak_Tile {
        max-width: 85px;
        margin: 0;
        width: 100%;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
    .techs__container {
        width: 94.6%;
    }
}

@media screen and (max-width:767px) {
    .Techs {
        padding-top: 70px;
        margin-bottom: 70px;
    }
    .techs__container {
        width: 97%;
    }
    .Techs_Content {
        padding-top: 60px;
    }
    .Techs_Title {
        font-size: 30px;
        letter-spacing: -1.2px;
        line-height: normal;
        margin-bottom: 24px;
    }
    .Techs_Stak_Tile {
        padding: 21px 0;
    }
    .Techs_Description {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
        margin-bottom: 50px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        justify-items: center;
        max-width: 178px;
        margin-bottom: 70px;
    }
}