.MoviesCard {
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    line-height: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.MoviesCard:hover .MoviesCard__Delete {
    opacity: 1;
}
.MoviesCard__MainData {
    padding-top: 18px;
}
.MoviesCard__Img {
    width: 100%;
    margin-bottom: 6px;
}
.MoviesCard__Saved {
    transition: 0.3s;
    height: 24px;
    cursor: pointer;
}
.MoviesCard__Saved:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.MoviesCard__SavedActive {
    transition: 0.3s;
    height: 24px;
    cursor: pointer;
}
.MoviesCard__SavedActive:hover {
    box-shadow: 0px 0px 8px 0px rgba(255, 48, 86, 0.5);
    border-radius: 50%;
}
.MoviesCard__Delete {
    height: 24px;
    transition: 0.3s;
    opacity: 0;
    cursor: pointer;
}
.MoviesCard__Delete:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.MoviesCard__NameAndSaved {
    display: flex;
    justify-content: space-between;
    
}
.MoviesCard__Name {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    max-width: 83%;
    margin: 0;
    padding-top: 4px;
}
.MoviesCard__Duration {
    color: #A0A0A0;
    font-size: 11px;
    font-weight: 400;
    padding-top: 6px;
    margin: 0;
    margin-top: 13px;
    border-top: 1px solid #E8E8E8;
}

@media screen and (max-width:1279px) {
    .MoviesCard__MainData {
        padding-top: 0;
    }
    .MoviesCard__Img {
        margin-bottom: 6px;
    }
    .MoviesCard__Name {
        max-width: 90%;
    }
    .MoviesCard__Duration {
        margin-top: 25px;
    }
}

@media screen and (max-width:767px) {
    .MoviesCard__Name {
        font-size: 12px;
        font-weight: 500;
    }
    .MoviesCard__Img {
        margin-bottom: 7px;
    }
    .MoviesCard__Duration {
        font-size: 10px;
        margin-top: 24px;
    }
    .MoviesCard__Delete {
        opacity: 1;
    }
}