.SearchQuery {
    padding-top: 70px;
    font-family: 'Inter', 'Arial', sans-serif;
    width: 100%;
}
.SearchQuery__Block {
    display: flex;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 13px;
    margin-bottom: 32px;
}
.SearchQuery__Input {
    width: 100%;
    border: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}
.SearchQuery__Input::placeholder {
    color: #A0A0A0;
    transition: 0.5s;
}
.SearchQuery__Input:focus {
    outline: none;
}
.SearchQuery__Input:focus::placeholder{
    color: rgba(52, 87, 245, 0.493);
}
.SearchQuery__Button{
    border: 0;
    border-radius: 48px;
    background: rgb(52, 86, 243);
    cursor: pointer;
    color: white;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 10.35px;
    transition: 0.5s;
}
.SearchQuery__Button:hover{
    background: rgba(52, 87, 243, 0.8);
}

@media screen and (max-width:1279px) {
    .SearchQuery {
        padding-top: 80px;
    }
    .SearchQuery__Button {
        padding: 8px 12px
    }
    .SearchQuery__Block {
        margin-bottom: 31px;
    }
}

@media screen and (max-width:767px) {

    .SearchQuery__Input {
        font-size: 18px;
    }

    .SearchQuery {
        padding-top: 84px;
    }
    .SearchQuery__Button {
        padding: 8px 13px
    }

    .SearchQuery__Block {
        padding-bottom: 9px;
        margin-bottom: 41px;
    }
}