.account-link {
  width: 103px;
  height: 24px;
  padding: 9px 0px 1px 15px;
  border-radius: 50px;
  background: url("../../images/people_icon_white.svg") 84px center/26px no-repeat;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.116);
  transition: 0.5s;
}

.account-link__on-main {
  background-color: var(--green);
}

.account-link:hover {
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.316);
}

.account-link_place_side-menu {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .account-link_hidden {
    display: none;
  }
}
